# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
client_secrets.json
credentialtfm.json
src/input_with_images.pdf
src/output_with_text.pdf
src/evaluationv1GQA.py
src/evaGQA.py
app.py
appApiGQAOllama.py
appApiGQAOpenAI.py
backup.py
